[build]
  base = "apps/web"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  PNPM_HOME = "/opt/buildhome/.pnpm"
  NPM_CONFIG_CACHE = ".npm-cache"

[[plugins]]
  package = "@netlify/plugin-nextjs"
