name: Code Review

permissions:
  id-token: write
  contents: read
  pull-requests: write

on:
  pull_request:
  pull_request_review_comment:
    types: [created]

concurrency:
  group:
    ${{ github.repository }}-${{ github.event.number || github.head_ref ||
    github.sha }}-${{ github.workflow }}-${{ github.event_name ==
    'pull_request_review_comment' && 'pr_comment' || 'pr' }}
  cancel-in-progress: ${{ github.event_name != 'pull_request_review_comment' }}

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::502065070033:role/GitHubActionsServiceRole
          role-session-name: gha-session
          aws-region: us-east-1
      - name: PR review
        uses: iamsadi22/bedrock-pr-reviewer@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          pinecone_api_key: ${{ secrets.PINECONE_API_KEY }}
          pinecone_host: ${{ secrets.PINECONE_HOST }}
          pinecone_index: ${{ secrets.PINECONE_INDEX }}
          debug: false
          review_simple_changes: false
          review_comment_lgtm: false
          bedrock_light_model: us.anthropic.claude-3-5-haiku-20241022-v1:0
          bedrock_heavy_model: us.anthropic.claude-3-7-sonnet-20250219-v1:0